<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>after SignUp and SignIn</title>
</head>
<body>
    <form action="/after" method="get">
            <h1>
                congractulation , you have successfully completed Signup and signIn process
            </h1>
            <!-- <div class="container"> </div> -->
            <!-- @csrf  -->
            
        <!-- <label for="name">Name : {{ $user->name }} </label><br/> -->
        
        <input type="button" value="Back to HomePage " onclick="location.href='/'"/><br/>
    </form>
</body>
</html>