<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>todolist</title>
</head>
<body>

  <h2>
           hello start  your app
  </h2>
        <a href="/new/">Add New Task</a>

</body>
</html>


































