<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat Application</title>
  </head>
  <body>

    <h1>
      Hi Users , Welcome to the page , Now you can SignUp here
    </h1>
    <!-- <a href="/register/">SignUp Here</a> -->
    
    <input type="button" value="Go to SignUp Page " onclick="location.href='/register'"/>  
    
  </body>
  
  </html>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- @if ($errors->any())
      <div class="alert alert-danger">
          <ul>
              @foreach ($errors->all() as $error)
                  <li>{{ $error }}</li>
              @endforeach
          </ul>
      </div>
  @endif
  
  <form action="/signup" method="post">
    {{ csrf_field() }}
    Name : <input type="text" name="name"><br><br>
    Email: <input type="email" name="email"><br><br>
    Password: <input type="password" name="password"><br><br>
    Confirm Password: <input type="password" name="confirm_password"><br><br>
    
    <button type="submit">Sign Up</button>
  </form>

</body>
</html> -->
      
      
      
      
      
      
      
      
      
      
      
      
      <!-- <form action="" method="post" onsubmit="return validateForm()">
         @csrf
          Name: <br />
          <input type="text" name="name" id="name" /><br />
          <span id="nameError"></span><br />
          
          Email: <br />
          <input type="email" name="email" id="email" /><br />
          <span id="emailError"></span><br />
          Password: <br />
          <input type="password" name="password" id="pwd" /><br />
          Confirm Password : <br/>
          <input type="password" name="confirm_password" id="cpwd" /><br />
          <span id="errorMessage"></span><br />
          <input type="submit" value="Submit" />
      </form>
    
      <script>
        function validateForm(){
          let name = document.getElementById("name").value;
          let email = document.getElementById("email").value;
          let password = document.getElementById("pwd").value;
          let confirmPassword = document.getElementById("cpwd").value; 
          //Name Validation
          if(name == ""){
              document.getElementById('nameError').innerHTML = 'Please enter your name';
              return false;
          }else {
              document.getElementById('nameError').innerHTML = '';
          }
          //Email validation
          var regex = /^\S+@\S+\.\S+$/;
          if(!regex.test(email)){
              document.getElementById('emailError').innerHTML = 'Please provide a valid e-mail address';
              return false;
          } else {
              document.getElementById('emailError').innerHTML = '';
          }
          //Password & Confirm Password Validation
          if (password != "" && confirmPassword != "") {
            if (password != confirmPassword) {
                document.getElementById('errorMessage').innerHTML = "Passwords do not match.";
                return false;
            } else {
                document.getElementById('errorMessage').innerHTML = "";
            }
          }
        }
      </script> -->



















<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>todolist</title>
</head>
<body>

  <h2>
           hello start  your app
  </h2>
        <a href="/new/">Add New Task</a>

</body>
</html> -->

































