<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat Application</title>
  </head>
  <body>

    <h1>
      Hi Users , Welcome to the page , Now you can SignUp here
    </h1>
    <!-- <a href="/register/">SignUp Here</a> -->
    
    <input type="button" value="Go to SignUp Page " onclick="location.href='/register'"/>  
    
  </body>
  
  </html>
  