<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1 class="start">
        Welcome to my page 
    </h1> -->

    <div>
        <form method="post" action="/new">
          <label for="taskname">Enter Task</label>
          <input type="text" name="task" required />
          <button type="submit">Add Task</button>
        </form>
      </div>


</body>
</html>









<!-- 


function CounterPage() {
  const [count, setCount] = useState(0);

  const handleIncrement = () => {
    setCount(prevCount => prevCount + 1);
  };

  return (
    <div>
      <h1>Counter</h1>
      <p>Count: {count}</p>
      <button onClick={handleIncrement}>Increment</button>
    </div>
  );
}

export default CounterPage; -->







<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="/signup" method="POST">
    <input type="text" name="username" placeholder="Username"  value="<%= userName %>"  required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Sign Up</button>
  </form>
</body>
</html> -->
