<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1 class="start">
        Welcome to my page 
    </h1> -->

    <div>
        <form method="post" action="/new">
          <label for="taskname">Enter Task</label>
          <input type="text" name="task" required />
          <button type="submit">Add Task</button>
        </form>
      </div>


</body>
</html>